.buttonContainer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.favContainer {
    display: flex;
    justify-content: center;
}

.newNameBtn {
    padding-left: 5px;
    padding-right: 5px;
}

.editSurnameBtn {
    padding-left: 5px;
    padding-right: 5px;
}

.genderBtn {
    padding-left: 5px;
    padding-right: 5px;
}